* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "oswald", sans-serif;
  display: flext;
}
.siteTitle {
  display: flex;
  background-color: rgba(255, 251, 0, 0.589);
}
nav {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}
ul {
  display: flex;
  list-style-type: none;
  background: pink;
  align-items: right;
  justify-content: space-between;
}

main {
  display: flex;
}
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 75px;
  width: ;
}
a {
  color: black;
  text-decoration: none;
}
.postTitle {
  display: flex;
  height: 75px;
  margin-left: 75px;
  width: 85vw;

  background: lightskyblue;
  flex-direction: row;
  margin-top: 7px;
  margin-left: 75px;
  flex-direction: row;
}
.sidebar {
  background: orange;
  flex-direction: column;
  height: 200px;
  width: 175px;
  margin-top: 7px;
}
ads {
  background: orange;
  flex-direction: column;
  height: 190px;
  width: 150px;
}
.postMeta {
  background-color: lightgreen;
  flex-direction: row;
  width: 125px;
  height: 200px
  margin-top: 7px;
  margin-left: 75px;
  justify-content: center;
}
.footer {
  display: flex;
  align-items: center;
  background-color: purple;
  margin: 20px;
  margin-top: 7px;
  flex-direction: row;
  height: 75px;
  margin-left: 75px;
}
main {
  display: flex;
  height: 100vh;
}
.ads {
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
  height: 190px;
  width: 150px;
}
.stuffs {
  background-color: purple;
  height: 190px;
  width: 150px;
}
.mainContent {
  flex-direction: row;
}
