body {
  background: #f7f0d0;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
#author {
  text-align: center;
}
h4 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
#author-name {
  color: #8a68cc;
}
