*{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
}

.grid-head{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0rem;
    margin: 0 auto;
    background-color: #f4f4f4;
}
.item{
    background: white;
    min-height: 100px;
}
.logo{
    color: blue;
    grid-column: 1 / span 2;
   
}
.work-in{
    grid-column: 3 /span 2;
    text-align: end;
    color: blue;
}
ul li {
    display: inline;
    text-decoration: none;
    /* some change */
    
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem;
    color: white;
}
ul{
    background:blue;
}
.section-a{
    background: url('https://source.unsplash.com/featured/laptop,people') no-repeat center center / cover;
   
}
.body-heading{
    color: white;
    text-align: center;
    font-size: 5rem;
}
.body-text1{
    color: white;
    text-align: center;
    font-size: 2rem;
}
.explore{
    display: grid;
    grid-template-rows: repeat(2,1fr);

}
.explore-text1{
    color: blue;
    font-size: 2rem;
    margin-left: 2rem;
}
.explore-text2{
    font-size: 1.5rem;
    margin-left: 2rem;
}
.fields-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin: 2rem;
}
.fields{
    align-content: center;
    height: 200px;
  
}
.fields:first-child{
    background: url('https://source.unsplash.com/featured/laptop,academic');
}
.fields:nth-child(2){
    background: url('https://source.unsplash.com/featured/engineering');
}
.fields:nth-child(3){
    background: url('https://source.unsplash.com/featured/health');
}
.fields:nth-child(4){
    background: url('https://source.unsplash.com/featured/hospitality');
}
.fields:nth-child(5){
    background: url('https://source.unsplash.com/featured/ict');
}
.fields:nth-child(6){
    background: url('https://source.unsplash.com/featured/manufacturing');
}

.fields:nth-child(7){
    background: url('https://source.unsplash.com/featured/marketing');
}

.fields:nth-child(8){
    background: url('https://source.unsplash.com/featured/managing');
}
.fields:nth-child(9){
    background: url('https://source.unsplash.com/featured/services');
}
button{
    background: blue;
    color: white;
    height: 40px;
    width: 140px;
}
.region-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-left: 2rem;
}
.region{
    align-content: center;
    height: 200px;
}
